* {
padding: 0;
margin: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* login siswa */
.login-container {
    background: #ffffff;
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    display: flex;

  
}

.login-container h2 {
    text-align: center;
    color: #004d40;
    margin-bottom: 25px;
    font-size: 2rem;
    border-bottom: none;
    padding-bottom: 0;
}

.login-group {
    margin-bottom: 20px;
}

.login-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.login-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

.login-group input:focus {
    border-color: #00796b;
    outline: none; 
}
.login-submit {
    width: 100%; 
    background: #00796b; 
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none; 
    cursor: pointer; 
}
.login-reg{
    
    margin-top: 20px;
  font-size: 16px;
}
.login-reg a {
  color: #0056b3;
  text-decoration: none;
  font-weight: bold;
}
.login-reg a:hover {
  text-decoration: underline;
}

/* index */
.header {
  position: relative;
  overflow: hidden;
  padding: 80px;
  text-align: center;
  color: white;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('../upload/images/691567f5b92b3.jpg') center/cover no-repeat;
  filter: blur(5px);
  transform: scale(1.1);
  z-index: 0;
}

.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 128, 0, 0.35);
  z-index: 1;
}

.header h2, .header p {
  position: relative;
  z-index: 2;
  word-spacing: 3%;
}

